In [1]:
!pip install faker

Requirement already satisfied: faker in c:\users\mg\anaconda3\lib\site-packages (13.3.2)
Requirement already satisfied: python-dateutil>=2.4 in c:\users\mg\anaconda3\lib\site-packages (from faker) (2.8.1)
Requirement already satisfied: six>=1.5 in c:\users\mg\anaconda3\lib\site-packages (from python-dateutil>=2.4->faker) (1.15.0)

In [2]:
from faker import Faker

In [3]:
fake = Faker()

In [6]:
fake.email()

'rallen@example.net'

In [11]:
fake.country()

'Libyan Arab Jamahiriya'

In [14]:
fake.name()

'Marisa Bond'

In [17]:
fake.text()

'Success floor north sing. Know exist old couple establish worry wonder.\nWhen air anyone. Pass meet all kitchen.'

In [21]:
print(fake.latitude(), fake.longitude())

81.469528 -145.724525

In [23]:
fake.url()

'https://jones.com/'

In [24]:
fake.profile()

{'job': 'Personal assistant',
 'company': 'Cook-Harrell',
 'ssn': '270-23-3409',
 'residence': '6224 Timothy Parkways Suite 854\nNew Cynthiaview, AR 28260',
 'current_location': (Decimal('-28.4608265'), Decimal('9.686492')),
 'blood_group': 'AB+',
 'website': ['http://www.williams.com/',
  'https://atkinson-holder.info/',
  'https://collins-jacobson.com/'],
 'username': 'jerickson',
 'name': 'Rickey Love',
 'sex': 'M',
 'address': '1038 Pamela Street Apt. 694\nErinchester, WA 16172',
 'mail': 'wkelley@yahoo.com',
 'birthdate': datetime.date(1937, 10, 29)}

In [28]:
profile = fake.profile()
profile

{'job': 'Health service manager',
 'company': 'Davis Group',
 'ssn': '412-41-1386',
 'residence': 'PSC 8485, Box 3726\nAPO AP 12378',
 'current_location': (Decimal('28.650174'), Decimal('47.871049')),
 'blood_group': 'O+',
 'website': ['https://www.mcdaniel.info/', 'https://holt.com/'],
 'username': 'ylewis',
 'name': 'Sandra Scott',
 'sex': 'F',
 'address': '336 Hernandez Vista Suite 728\nLake Amyview, TX 74302',
 'mail': 'donnafarrell@yahoo.com',
 'birthdate': datetime.date(1932, 8, 8)}

In [35]:
print(profile['job'], profile['company'])

Health service manager Davis Group

In [36]:
from random import randint

In [37]:
def get_student_data(count):
    data = {}
    
    for i in range(0, count):
        data[i] = {}
        data[i]['id'] = randint(1,100)
        data[i]['name'] = fake.name()
        data[i]['address'] = fake.address()
    return data

In [38]:
import json

In [39]:
data = get_student_data(100)
data

{0: {'id': 70,
  'name': 'Robert Tanner',
  'address': '0175 Peterson Glen Apt. 604\nGutierrezburgh, WY 26853'},
 1: {'id': 76,
  'name': 'Eric Ball',
  'address': '6013 Amanda Common Apt. 812\nWest Tyler, ID 23993'},
 2: {'id': 5,
  'name': 'Charles George',
  'address': '2302 Jensen Lake\nJeffreyland, HI 87843'},
 3: {'id': 23,
  'name': 'Tony Ramirez',
  'address': 'Unit 3091 Box 9645\nDPO AA 80823'},
 4: {'id': 68,
  'name': 'Jade Hernandez',
  'address': '9901 Foster Plaza\nSouth Patricia, CO 21852'},
 5: {'id': 12,
  'name': 'Melinda Le',
  'address': '79948 Burton Green Apt. 067\nPetertown, DC 75468'},
 6: {'id': 80,
  'name': 'Chelsea Trevino',
  'address': '8661 Powell Circles Apt. 945\nJudithland, MD 17106'},
 7: {'id': 11,
  'name': 'Jeffrey Kennedy',
  'address': '45302 Lauren Fork Suite 415\nSouth Devin, NH 31755'},
 8: {'id': 6,
  'name': 'Luke Wilson',
  'address': '4940 Salinas Underpass\nBryantville, SD 72620'},
 9: {'id': 59,
  'name': 'Alexandra Myers',
  'address': '4148 Mccormick Mount\nChelseaside, AL 84608'},
 10: {'id': 96,
  'name': 'Keith Valentine',
  'address': '4803 Jesus Bypass Apt. 086\nTimothyhaven, NJ 23306'},
 11: {'id': 33,
  'name': 'Timothy Vasquez',
  'address': '341 James Prairie\nAmberchester, TN 71578'},
 12: {'id': 79,
  'name': 'Michelle Flores',
  'address': '52798 Watts Branch Suite 768\nMendozastad, DC 97712'},
 13: {'id': 76,
  'name': 'Marcus Johnson',
  'address': '80300 Doyle Place\nSouth Aaron, AZ 83360'},
 14: {'id': 9,
  'name': 'Mathew Johnson',
  'address': 'USNV Bartlett\nFPO AP 52139'},
 15: {'id': 71,
  'name': 'Stephanie Mann',
  'address': '3373 Fleming Junction\nLake Gregoryborough, ME 49726'},
 16: {'id': 27,
  'name': 'Felicia Perry',
  'address': '66862 Taylor Fall Apt. 730\nJohnshire, HI 72675'},
 17: {'id': 21,
  'name': 'Joseph White',
  'address': '61886 Kent Parkway\nFordshire, AL 45407'},
 18: {'id': 84,
  'name': 'Jordan Hill',
  'address': '633 David Plains\nLarsonmouth, OR 40810'},
 19: {'id': 20,
  'name': 'Shaun Park',
  'address': '592 Scott Shoal\nMackenziemouth, OH 92782'},
 20: {'id': 37,
  'name': 'Amy Trujillo',
  'address': '71181 Sharon Drive\nMunozview, MS 69099'},
 21: {'id': 8,
  'name': 'David Shaw',
  'address': '532 Sarah Gateway Apt. 484\nJohnmouth, TN 76743'},
 22: {'id': 93,
  'name': 'Lauren Figueroa',
  'address': '007 Monica Alley\nGrantview, NH 54502'},
 23: {'id': 7,
  'name': 'Ronnie Allen',
  'address': '183 Hester Roads Apt. 122\nDarlenestad, ID 42397'},
 24: {'id': 14,
  'name': 'Michele Martin',
  'address': '7509 Nguyen Inlet\nLake Jonathan, WI 22077'},
 25: {'id': 8,
  'name': 'Robert Warren',
  'address': '032 Mullen Oval Apt. 685\nGilbertmouth, MO 14179'},
 26: {'id': 38,
  'name': 'Shannon Mayo',
  'address': '5645 Jones Curve\nWest Jonathan, MO 58354'},
 27: {'id': 46,
  'name': 'Ashley Stone',
  'address': '288 Geoffrey Mount\nZimmermanland, WV 27827'},
 28: {'id': 84,
  'name': 'Jon Gallegos',
  'address': '0384 Jason Curve Suite 300\nNorth Joseph, SC 10150'},
 29: {'id': 61,
  'name': 'Mr. Ronald Nelson',
  'address': '34014 Jill Ridges\nPort Amandafort, ND 98067'},
 30: {'id': 61,
  'name': 'Evan Jarvis',
  'address': 'PSC 1577, Box 4173\nAPO AP 60512'},
 31: {'id': 73,
  'name': 'Randy Taylor',
  'address': '3486 Sandra Drive Suite 413\nNew Stephenburgh, UT 31434'},
 32: {'id': 70, 'name': 'Dana Cobb', 'address': 'USNV Keith\nFPO AE 52475'},
 33: {'id': 23,
  'name': 'Hannah Woods',
  'address': '9900 Sandra Crest\nNorth Ethan, AL 95774'},
 34: {'id': 79,
  'name': 'Amanda Mullins',
  'address': '695 King Flats\nPort Maryberg, RI 60067'},
 35: {'id': 76,
  'name': 'Erica Adkins',
  'address': '95568 Jones Via Suite 362\nNavarroport, LA 92634'},
 36: {'id': 71,
  'name': 'Joshua Nelson',
  'address': '655 Katherine Overpass Apt. 884\nEast Christopherchester, MS 95850'},
 37: {'id': 40,
  'name': 'Leslie Valdez',
  'address': '524 Ann Stravenue Apt. 750\nPort Richardborough, SC 39809'},
 38: {'id': 39,
  'name': 'Linda Tanner',
  'address': '94312 Sanders Tunnel\nHartville, MD 98944'},
 39: {'id': 49,
  'name': 'Robert Lewis',
  'address': '5008 Kelly Ridge\nBranchville, WV 59417'},
 40: {'id': 96,
  'name': 'Carol Richard',
  'address': '36085 Rodriguez Divide Apt. 149\nDrakebury, WY 75965'},
 41: {'id': 63,
  'name': 'Steven Lynn',
  'address': '9945 Donaldson Rapid\nDiazfort, NH 43628'},
 42: {'id': 35,
  'name': 'Whitney Villanueva',
  'address': '823 Anne Spring\nShortside, WY 50621'},
 43: {'id': 69,
  'name': 'Jack Hansen MD',
  'address': '64434 Alan Terrace\nHollyside, CT 52858'},
 44: {'id': 49,
  'name': 'Chelsea Nguyen',
  'address': '0008 Carlos Square Apt. 167\nAndrewmouth, NY 85121'},
 45: {'id': 3,
  'name': 'Brittany Rhodes',
  'address': '516 Weaver Walks Suite 284\nNew Samuel, FL 09145'},
 46: {'id': 32,
  'name': 'Lisa Smith',
  'address': '06543 Howard Circles\nNew Kellymouth, WV 44599'},
 47: {'id': 16,
  'name': 'James Baker',
  'address': '41592 Justin Circles Suite 963\nRichardshire, MS 71820'},
 48: {'id': 95,
  'name': 'Charlotte Harris',
  'address': '61951 Johnson Unions\nSteventon, WV 07733'},
 49: {'id': 56,
  'name': 'Stephanie Saunders',
  'address': '1548 Michael Loaf\nEast Kristyside, NE 21237'},
 50: {'id': 100,
  'name': 'Katherine Nelson',
  'address': '6917 Jones Islands Apt. 606\nPort Linda, MA 02105'},
 51: {'id': 84,
  'name': 'Robert Lucero',
  'address': '05605 Durham Unions\nEast Joshuatown, AZ 77655'},
 52: {'id': 97,
  'name': 'Timothy Stevens',
  'address': 'USNS West\nFPO AA 34738'},
 53: {'id': 19,
  'name': 'Nathan Alvarez',
  'address': '90605 Mercer Ranch Suite 499\nPatriciaside, WI 22088'},
 54: {'id': 45,
  'name': 'Julie Bradley',
  'address': 'Unit 7998 Box 1742\nDPO AA 69239'},
 55: {'id': 64,
  'name': 'Shelly Kirby',
  'address': 'PSC 7853, Box 0017\nAPO AE 11241'},
 56: {'id': 1,
  'name': 'Scott Anderson',
  'address': '49749 Ricky Cliff\nSheppardborough, CT 92326'},
 57: {'id': 13,
  'name': 'Connie Williams',
  'address': '80004 Gardner Keys Suite 341\nRangelfort, KS 20895'},
 58: {'id': 25,
  'name': 'Michael Mcguire',
  'address': '3794 Angela Plaza Apt. 941\nSouth Hannah, IL 52009'},
 59: {'id': 50,
  'name': 'Timothy Rice',
  'address': '42686 Long Locks\nHeathermouth, NM 26460'},
 60: {'id': 72,
  'name': 'Samantha Gomez',
  'address': 'Unit 4135 Box 3554\nDPO AE 76250'},
 61: {'id': 18,
  'name': 'Jacqueline Mitchell',
  'address': '576 Clark Stravenue\nSaraville, MS 28163'},
 62: {'id': 30,
  'name': 'Justin Carr',
  'address': 'Unit 4644 Box 0416\nDPO AA 62044'},
 63: {'id': 97,
  'name': 'Scott Kidd',
  'address': '7018 Miller Hill Apt. 604\nLake Samanthashire, MN 30377'},
 64: {'id': 81,
  'name': 'Tasha Rios',
  'address': '74864 Jenny Mall Suite 248\nKochmouth, RI 23506'},
 65: {'id': 24,
  'name': 'Diane Gregory',
  'address': '22211 Holmes Ferry Apt. 678\nWrightfort, WA 31066'},
 66: {'id': 77,
  'name': 'Isabella Martinez',
  'address': '46019 Small Landing Apt. 995\nThomasport, NJ 23702'},
 67: {'id': 27,
  'name': 'Michele Fuller',
  'address': 'USNV Jackson\nFPO AP 62901'},
 68: {'id': 54,
  'name': 'Michael Washington',
  'address': '594 Sonya Springs Apt. 517\nBrandonstad, GA 36990'},
 69: {'id': 52,
  'name': 'Alexis Hernandez',
  'address': '952 Scott Extension Suite 477\nEast Deborah, MI 42578'},
 70: {'id': 99,
  'name': 'Samantha Figueroa',
  'address': '51635 Erica Stravenue Suite 129\nWest Robert, NM 22663'},
 71: {'id': 27,
  'name': 'Kristopher Kent',
  'address': '61761 Miller Locks\nLake Andrewmouth, OH 39644'},
 72: {'id': 40,
  'name': 'Richard Stokes',
  'address': '3374 Chaney Summit\nJamiechester, AL 60539'},
 73: {'id': 69,
  'name': 'Paul Moon',
  'address': '4897 Matthew Square\nLake Tiffany, TN 97763'},
 74: {'id': 30,
  'name': 'Timothy Miller',
  'address': '32353 Stacy Grove Suite 844\nBallstad, NM 05406'},
 75: {'id': 100,
  'name': 'Sabrina Wang',
  'address': '303 Church Fork\nEast Katrina, ME 20318'},
 76: {'id': 19,
  'name': 'Monica Anderson',
  'address': '935 Nolan Ford\nPort Jodi, AZ 74917'},
 77: {'id': 46,
  'name': 'Amber Gutierrez',
  'address': 'PSC 1783, Box 0626\nAPO AA 53485'},
 78: {'id': 84,
  'name': 'Duane Martin',
  'address': '5689 Finley Point Suite 358\nGuerrafurt, CT 59978'},
 79: {'id': 72,
  'name': 'Chelsey Fernandez',
  'address': '66166 Kenneth Estate Apt. 314\nDoughertyfort, OK 10332'},
 80: {'id': 62,
  'name': 'Steven Green',
  'address': '0273 Michael Plains\nFritzburgh, PA 41837'},
 81: {'id': 65,
  'name': 'Marvin Key',
  'address': '45736 Gina Avenue Suite 306\nPort Codyton, AL 83970'},
 82: {'id': 35,
  'name': 'Alicia Conley',
  'address': '568 Martin Meadow\nNew Toddtown, MT 89845'},
 83: {'id': 3,
  'name': 'Anthony Robertson',
  'address': '387 Maldonado Rue Apt. 826\nNorth Joseville, IL 72089'},
 84: {'id': 73,
  'name': 'Anthony Chavez',
  'address': '5459 John Harbors\nStevensbury, AZ 83610'},
 85: {'id': 27,
  'name': 'Emily Johnson',
  'address': '5965 Myers Drive\nWest Chadstad, TN 75699'},
 86: {'id': 48,
  'name': 'Lindsey Harris',
  'address': '262 John Common\nSouth Kenneth, NE 51400'},
 87: {'id': 74,
  'name': 'Bryan Ellison',
  'address': '4764 Taylor Highway Apt. 993\nAprilchester, VT 19884'},
 88: {'id': 96,
  'name': 'David Rodriguez',
  'address': '798 Bond Stream\nGonzalezchester, DC 06606'},
 89: {'id': 28,
  'name': 'Keith Smith',
  'address': '6059 Taylor Station Apt. 358\nNew Stevenbury, ME 29419'},
 90: {'id': 23,
  'name': 'Alyssa Silva',
  'address': '0530 Ernest Mews\nBlackbury, MO 62302'},
 91: {'id': 45,
  'name': 'Katherine Foster',
  'address': '846 Teresa Causeway\nWest Stephaniechester, LA 84484'},
 92: {'id': 73,
  'name': 'Mark Jacobs',
  'address': '7101 Timothy Crest Apt. 439\nLake Holly, MD 65041'},
 93: {'id': 35,
  'name': 'Paula Gibbs',
  'address': '0502 Matthew Hill\nRachelville, ID 29635'},
 94: {'id': 53,
  'name': 'Matthew Sanders',
  'address': '054 Dean Wall Suite 960\nLake Andrewburgh, WY 35540'},
 95: {'id': 28,
  'name': 'Rachel Smith DVM',
  'address': '6191 Roberta Square Apt. 740\nScottville, WI 32658'},
 96: {'id': 19,
  'name': 'Denise Boyd',
  'address': '8748 Susan Groves Suite 416\nNew Susan, OK 54846'},
 97: {'id': 48,
  'name': 'Alexandria Moore',
  'address': 'Unit 2610 Box 7863\nDPO AE 32148'},
 98: {'id': 29,
  'name': 'Lisa Newman',
  'address': '1776 Melissa Square Apt. 292\nEast Kevin, NH 36678'},
 99: {'id': 24,
  'name': 'Samuel Jacobs',
  'address': '29515 Jason Forges Apt. 015\nEast Craigchester, VA 24238'}}

In [40]:
with open('students.json', 'w') as fp:
    json.dump(data, fp, indent=4)